-function getTimeslotTime(timeslotIndex){
-    return _.filter(public.schedule._data.index.timeSlots, function(item){
-       return item.timeslotIndex == timeslotIndex;
-   })[0].time
-}
-
-function getPosition(jobTitle, company){
-    if (jobTitle && company){
-        return jobTitle + ' at ' + company;
-    }
-    if (jobTitle) {
-        return jobTitle;
-    }
-    if (company){
-        return company;
-    }
-    return null;
-}

article.speaker
    h1 #{name}
    div.row
        div.twelve.columns
            h2.big
                if twitter
                    a(href='https://twitter.com/#{twitter}').social
                        i.fa.fa-twitter
                        span.sr-only Twitter Profile
                if stackOverflow
                    a(href='https://stackoverflow.com/users/#{stackOverflow}').social
                        i.fa.fa-stack-overflow
                        span.sr-only StackOverflow Profile
                if github
                    a(href='https://github.com/#{github}').social
                        i.fa.fa-github
                        span.sr-only GitHub Profile
                if linkedIn
                    a(href='https://www.linkedin.com/in/#{linkedIn}').social
                        i.fa.fa-linkedin
                        span.sr-only LinkedIn Profile
                if blog
                    a(href='http://#{blog}').social
                        i.fa.fa-user-circle-o
                        span.sr-only Website
    if jobTitle || company
        h3
            != getPosition(jobTitle, company)
    div.row
        div.nine.columns.bio
            != bio
        if hasPhoto
            div.three.columns.profile.text-center
                img(src='#{current.path[1]}.jpg')

    if sessions && sessions.length > 0
        hr
        h2 Sessions
        for session in sessions
            if public.sessions[session]
                h3
                    a(href='/sessions/#{session}') #{public.sessions[session]._data.index.name}
                h4 #{public.sessions[session]._data.index.room}
                h4 #{getTimeslotTime(public.sessions[session]._data.index.timeslot)}
